{{define "Contentblock"}}

  <!-- stored display stuff that we'll use within other components -->
  <div id="widgets" style="display:none;">

    <li class="questionInput">
    <label for="questionText"></label><span name="questionText"></span><br />
    <input type="checkbox" name="finalizeCheckbox">Finalize Answer</input><br />
    <label for="answerText">Answer:</label>
    <textarea name="answerText" class="ui-widget-content" rows="5" cols="80"></textarea>
    </li>

    <li class="questionDisplay">
      <span name="questionText"></span><br />
      <span name="answerText" class="finalAnswer"></span>
    </li>


    <input id="duration" name="duration" value="" type="text-input" />
    <select id="durationUnits">
      <option value="y">years</option>
      <option value="d">days</option>
      <option value="h">hours</option>
      <option value="m">minutes</option>
      <option value="s" selected>s</option>
      <option value="ms">ms</option>
      <option value="us">&mu;s</option>
      <option value="ns">ns</option>
      <option value="ps">ps</option>
    </select>
  </div>

  <div id="showQuiz">
    <h2 id="quizName"></h2>

    <h3>Questions</h3>
  <form>
   <fieldset>
    <ol id="takeQuestionList">

    </ol>
    <br />
    <p id="moreQuestions">There are more questions that cannot be shown until you have finalized your answers to the current questions.</p>
    <p><input type="submit" name="saveAnswers" class="button" id="saveBtn" value="Save Work" /> (Note:  Finalized answers cannot be modified once you click save).</p>
    <br />
    <p>
    <input type="submit" name="revert" class="button" id="revertBtn" value="Revert to Last Saved" />
    </p>

   </fieldset>
  </form>
  </div>
{{end}}

{{define "Footerblock"}}
  <div id="statusBox">
    <p>Status: <span id="status"></span></p>
  </div>


{{end}}
